.caution-container {
  max-width: 78%;
  margin: 50px auto; 
  background-color: rgba(104, 0, 20, 0.04); 
  border-left: 5px solid rgba(125, 0, 26, 1); 
  box-shadow: none;
  padding: 40px 50px; 
}
.caution-title {
  color: rgba(241, 55, 55, 1); 
  font-size: 36px; 
  margin-top: 0; 
  margin-bottom: 40px; 
  text-align: center; 
}

.caution-subtitle {
  color: rgba(161, 5, 29, 1); 
  font-size: 24px; 
  margin-bottom: 40px; 
  text-align: center;
}

.caution-section h4 {
  color: #000; 
  margin-top: 1.5em; 
}

.caution-section ul {
  list-style: none; 
  padding: 0; 
}

.caution-section ul li {
  margin-bottom: 0.5em; 
  font-size: 14px; 
}

.caution-section ul li:before {
  content: '・'; 
  margin-right: 0.5em; 
  color: #000000;
}

@media (max-width: 768px) {
  .caution-container {
    padding: 20px; 
    margin-top: 20px;
    border-left: none; 
  }

  .caution-title {
    font-size: 28px; 
    margin-top: 0.25em;
    margin-bottom: 0.25em; 
  }

  .caution-subtitle {
    font-size: 20px; 
    margin-bottom: 1em; 
  }

  .caution-section h4 {
    font-size: 18px; 
    margin-top: 1em; 
  }

  .caution-section ul li {
    font-size: 14px;
    margin-bottom: 0.25em; 
  }
}
