.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  border-bottom: 1px solid #ccc;
  padding: 20px 40px;
  position: relative; /* z-indexを有効にするためにposition指定が必要です */
}

.logo {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-start; /* ロゴを左寄せに設定 */
}

.logo img {
  height: auto;
  width: 120px; /* ロゴの幅を調整 */
}

.navigation {
  flex: 2;
  display: flex;
  justify-content: flex-end;
  z-index: 1; /* メニューのz-indexを低く設定 */
}

.navigation ul {
  list-style: none;
  display: flex;
  padding: 0;
  margin: 0;
  align-items: center;
}

.navigation li {
  padding: 0 20px;
}

.navigation li a {
  text-decoration: none;
  color: #ff0000;
  font-size: 16px;
  transition: color 0.3s;
}

.navigation li a:hover {
  color: #cc0000;
}

.nav-toggle {
  display: none;
  background: none;
  border: none;
  z-index: 2; /* ハンバーガーメニューボタンのz-indexを高く設定 */
  font-size: 24px; /* アイコンのサイズを調整 */
  position: absolute;
  right: 10px;
  top: 10px;
}

@media (max-width: 768px) {
  .nav-toggle {
    display: block;
  }

  .navigation {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: auto;
    width: 250px;
    background-color: #fff;
    transform: translateX(100%);
    transition: transform 0.3s;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1; /* メニューのz-indexを低く設定 */
  }

  .navigation-visible {
    transform: translateX(0);
  }

  .navigation ul {
    flex-direction: column;
  }

  .navigation li {
    margin-bottom: 20px;
  }
  
  .header {
    padding: 10px 20px;
  }

  .logo img {
    width: 100px; /* スマホ画面でのロゴの幅を調整 */
  }
}

@media (max-width: 480px) {
  .logo img {
    width: 80px; /* 更に小さいスクリーンでのロゴの幅を調整 */
  }
}
