@media (min-width:768px){
    .aaa{
        display: flex;
    }
    .Map-indoor{
        margin:auto;
        margin-top: 50px;
        margin-bottom: 50px;
        width: 80%;
    }
    .building-number1{
        margin: auto;
        margin-top: 20px;
        margin-bottom: 20px;
        width: 10%;
        height: 40px;
        background-color: rgba(242, 88, 56, 1);
    }
    .Map-indoor-floor2-image{
        margin: 25px;
    }
    .building-number-inboxtext{
        text-align: center;
        color: #fff;
        font-size: 25px;
    }
    .Map-indoor-floor2-informations{
        margin: auto;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .information1{
        margin: auto;
        width: 80%;
        height: 100px;
        background-color: rgba(242, 88, 56, 1);
    }
    .information-title{
    display: flex;
    }
    .room-number{
        width: 20%;
        height: 40px;
        position: relative;
        top:10px;
        left: 10px;
        background-color: #fff;
        margin-right: 50px;
    }
    .room-number-inboxtext{
        text-align: center;
    }
    .information-title{
        height: 20%;
        width: 100%;

    }
    .information-title-text{
        color: #fff;
    }
    .information-text{
        text-align: left;
        position: relative;
        top: 20px;
        left: 20px;

    }
}
@media (min-width:768px){

}