.MESSAGE {
    margin: auto;
    margin-top: 50px;
    padding: 20px; /* 内部のスペースを均等に設定 */
    background-color: rgba(104, 0, 20, 0.04);
    margin-bottom: 50px;
    border-radius: 15px; /* 角を丸くする */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* 影をつける */
   
    width: 85%; /* 幅は親要素に対して85%に設定 */
}

.MESSAGEtitle {
    text-align: center;
    margin-bottom: 20px; /* タイトルと段落の間に余白を設定 */
}

.title {
    color: rgba(241, 55, 55, 1);
    margin-bottom: 10px; /* タイトルの下に余白を設定 */
}

.MESSAGEparagragh {
    color: rgba(161, 5, 29, 1);
}

p {
    font-size: 16px; /* フォントサイズを適切に設定 */
    line-height: 1.6; /* 行間を広げて読みやすくする */
    text-align: justify; /* テキストを両端揃えに */
}

.MESSAGEindex1, .MESSAGEindex2Text {
    margin-top: 40px;
    padding: 0 20px; /* テキストに左右のパディングを追加 */
}


