.MESSAGE{
    margin: auto;
    margin-top: 50px;
    height: 250px;
    width: 85%;
    background-color: rgba(104, 0, 20, 0.04);
}

.MESSAGEtitle{
    text-align: center;
}
.title{
    color: rgba(241, 55, 55, 1);
}
.MESSAGEparagragh{
    color: rgba(161, 5, 29, 1);
}
.MESSAGEindex1{
    padding-bottom: 40px;
}
.MESSAGEindex1Text{
    margin-top: 40px;
}
p{
    font-size: 13px;
}
.MESSAGEindex2Text{
    margin-top: 40px;
    margin-inline-start: 40px;
}